body {
  margin: 0;
  scroll-behavior: smooth;
}

.download-button {
  width: 100%;
}

.img-column {
  margin-bottom: 5rem;
}

.topbar-form {
  z-index: 999;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}

.sort-dropdown-inner-div {
  float: right;
}

.search-button {
  width: 100%;
}
